[Unit]
Description=Fix screen orientation after resume
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
User=INSTALL_USER
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStartPre=/bin/sleep 1
ExecStart=/bin/bash %h/.local/bin/rotate-screen.sh

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
